@charset "UTF-8";
/*! 
 * Rules for UNC
 */
body {
  /*font-family: Georgia, serif;*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.unc-ip {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  word-wrap: break-word;
}

.bg-primary {
  color: #FFFFFF;
  background-color: #4B9CD3 !important;
}

.unc-title {
  float: left;
  text-transform: uppercase;
  padding-left: 8px;
  font-size: .9em;
  font-family: "Times New Roman",serif;;
}

.unc-page-title {
  color: #4B9CD3;
}

/* Modify the background color */
.navbar-unc {
  background-color: #4B9CD3;
}
.bg-unc-blue {
  background-color: #4B9CD3;
}
.bg-unc-link-blue {
  background-color: #007FAE;
}
.bg-unc-navy {
  background-color: #13294B;
}

/* Modify brand and text color */
.navbar-unc .navbar-brand,
.navbar-unc .navbar-text {
  color: #FFFFFF;
}

/* Modify link color */
.navbar-unc .nav-link {
  color: #FFFFFF!important;
}

.btn-primary {
  color: #fff;
  background-color: #4B9CD3;
  border-color: #4B9CD3;
}
.btn-primary:hover {
  color: #fff;
  background-color: #318ac7;
  border-color: #2e83bd;
}
/* .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #4B9CD3;
  border-color: #4B9CD3;
} */

a {
  color: #4B9CD3;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #2975a8;
  text-decoration: underline;
}
