<!doctype html>
<html lang="en">
 <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="What Is My IP: a service offered by UNC Chapel Hill to provide information about your connection, as seen from the campus network." />
	<meta name="author" content="">
    <meta name="robots" content="index, follow" />
    <title>What is my IP?</title>

	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/whatismyip.css') }}">
 </head>
 <body>
	<body>

		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark navbar-unc">
			<div class="container">
				<a href="https://www.unc.edu" class="navbar-brand">
					<span class="d-none d-md-inline unc-title">The University <em>of</em> North Carolina <em>at</em> Chapel Hill</span>
					<span class="d-inline d-md-none unc-title">UNC-Chapel Hill</span>
					<!-- <img src="{{ url_for('static', filename='images/UNCwebsite_textreatment_white.png') }}" class="d-inline-block" alt="Logo" "> -->
					<!--<img src="{{ url_for('static', filename='images/Old_Well_mark.png') }}" class="d-block d-sm-none" alt="Old Well Logo" width="45" style="opacity: .8">
					<img src="{{ url_for('static', filename='images/Information-Technology-Services_logo.png') }}" class="d-none d-sm-block d-inline-block align-text-top" alt="Logo" style="width:400px;">-->
					<!--<img src="{{ url_for('static', filename='images/Information Technology Services_logo_white_h.png') }}" class="d-none d-sm-block" alt="Logo" style="width:300px;">-->
					<!-- <img src="{{ url_for('static', filename='images/Old_Well_mark.png') }}" class="d-inline-block" alt="Old Well Logo" width="45" style="opacity: .8"> -->
					<!-- <span class="brand-text">What is my IP?</span> -->
				</a>

				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarNav"
					aria-controls="navbarNav"
					aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('home') }}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('hostinfo') }}">API</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('about') }}">About</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Main Content -->
		<main role="main">
			<div class="container">
				<div class="row">
					<div class="col">
					  <div class="py-5 text-center fst-italic unc-page-title">
						<h2 class="mb-2">What is my IP address?</h2>
					  </div>
					</div>
				  </div>
			{% block content %}
			{% endblock %}
			</div>
		</main>

		<!-- Footer -->
		<footer class="main-footer">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="border-top my-5"></div>
					</div>
				</div>
				<div class="row mb-5">
					<div class="col-md-6">
						<img src="{{ url_for('static', filename='images/Information-Technology-Services_logo.png') }}" class="d-none d-sm-inline align-text-top" alt="Logo" style="width:273px;">
					</div>
					<div class="col-md-6 text-end">
						<p><small>Copyright &copy; <script>document.write(new Date().getFullYear())</script> - Information Technology Services</small></p>
					</div>
				</div>
			</div>
		</footer>

		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/whatismyip.js') }}"></script>
 </body>
</html>