{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="p-5 text-center">
      <h2 class="mb-2">Your IP address is:</h2>
    </div>
  </div>
  <div class="row p-1">
    <div id="address_box" class="col shadow-lg p-3 mb-3 rounded bg-primary d-none d-sm-block unc_ip">
      <!--<h1 id="address" class="display-4 text-center allowCopy">{{ context.address }}</h1>-->
      <h1 id="address" class="display-4 text-center allowCopy">{{ context.client_address }}</h1>
    </div>
    <div id="address_box_sm" class="col shadow-lg p-3 mb-3 rounded bg-primary d-block d-sm-none unc_ip">
      <h2 id="address" class="text-center allowCopy">{{ context.client_address }}</h2>
    </div>
  </div>
  <div id="additional_ip" class="row p-1" style="display:none;">
    <div class="col shadow-lg p-3 mb-5 rounded bg-primary d-none d-sm-block unc_ip">
      <h1 id="address2" class="display-4 text-center allowCopy">loading...</h1>
    </div>
    <div class="col shadow-lg p-3 mb-5 rounded bg-primary d-block d-sm-none unc_ip">
      <h2 id="address2_sm" class="text-center allowCopy">loading...</h2>
    </div>
  </div>
  <div class="row p-1">
    <div class="col-md">
      <p>Your Address:</p>
      <ul class="list-group">
        <li class="list-group-item"><strong>Name:</strong> {% for name in context.address_list.names %}{{ name }}{% endfor %}</li>
        <li class="list-group-item"><strong>MAC Address:</strong> {{ context.address_list.mac_address }}</li>
        <li class="list-group-item"><strong>Status:</strong> {{ context.address_list.status }}</li>
      </ul>
    </div>
    <div class="col-md">
      <p>Your Network:</p>
      <ul class="list-group">
        <li class="list-group-item"><strong>Network:</strong> {{ context.network_cidr }} {% if context.network_comment %}({{ context.network_comment }}){% endif %}</li>
        <li class="list-group-item"><strong>Network Type:</strong> {{ context.network_type }}</li>
        <li class="list-group-item"><strong>Vlan:</strong> {% if context.vlan_id %}{{ context.vlan_id }} ({{ context.vlan_name }}){% endif %}</li>
      </ul>
    </div>
    <div class="col-md">
      <p>Your ISP:</p>
      <ul class="list-group">
        <li class="list-group-item"><strong>ASN:</strong> {{ context.ipwhois.asn }}</li>
        <li class="list-group-item"><strong>ISP:</strong> {{ context.ipwhois.asn_description }}</li>
        <li class="list-group-item"><strong>Country:</strong> {{ context.ipwhois.asn_country_code }}</li>
      </ul>
    </div>
  </div>
  <div class="row p-1">
    <div class="col">
      <p><button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="more-info">Show More Information</button></p>
      <div class="collapse" id="collapseExample">
          <div class="card card-body">
          <ul class="list-group">
            <li class="list-group-item"><strong>Campus VLAN:</strong> <span> {{ network.network }} </span></li>
            <li class="list-group-item"><strong>Proxy IP:</strong> <span> {{ context.xfwd }} </span></li>
            <li class="list-group-item"><strong>Remote Host:</strong> <span> {{ context.address }} </span></li>
            <li class="list-group-item"><strong>Remote Port:</strong> <span> {{ context.port }} </span></li>
            <li class="list-group-item"><strong>Request Method:</strong> <span> {{ context.method }} </span></li>
            <li class="list-group-item"><strong>Server Protocol:</strong> <span> {{ context.protocol }} </span></li>
            <li class="list-group-item"><strong>User Agent:</strong> <span> {{ context.agent }} </span></li>
          </ul>
          <p>environ</p>
          <ul class="list-group">
            {% for key, value in environ.items() %}
            <li class="list-group-item"><strong>{{ key }}</strong> <span> {{ value }}</span></li>
            {% endfor  %}
          </ul>
          <p>headers</p>
          <ul class="list-group">
            {% for key, value in headers.items() %}
            <li class="list-group-item"><strong>{{ key }}</strong> <span> {{ value }}</span></li>
            {% endfor  %}
          </ul>
          <p><small>It took <?php echo round($time,3); ?> seconds to share this information.</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}