{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="p-5 text-center">
      <h2 class="mb-2">Your IP address is:</h2>
    </div>
  </div>
  <div class="row p-1">
    <div id="address_box" class="col shadow-lg p-3 mb-3 rounded bg-primary d-none d-sm-block unc_ip">
      <!--<h1 id="address" class="display-4 text-center allowCopy">{{ context.address }}</h1>-->
      <h1 id="address" class="display-4 text-center allowCopy">{{ context.client_address }}</h1>
    </div>
    <div id="address_box_sm" class="col shadow-lg p-3 mb-3 rounded bg-primary d-block d-sm-none unc_ip">
      <h2 id="address" class="text-center allowCopy">{{ context.client_address }}</h2>
    </div>
  </div>
  <div id="additional_ip" class="row p-1" style="display:none;">
    <div class="col shadow-lg p-3 mb-5 rounded bg-primary d-none d-sm-block unc_ip">
      <h1 id="address2" class="display-4 text-center allowCopy">loading...</h1>
    </div>
    <div class="col shadow-lg p-3 mb-5 rounded bg-primary d-block d-sm-none unc_ip">
      <h2 id="address2_sm" class="text-center allowCopy">loading...</h2>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-4 p-1">
    <div class="col">

      {% if context.address_records %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Address Details</h5>
          <h6 class="card-subtitle mb-2 text-muted">campus address</h6>
          <table class="table table-sm">
            <tbody>
              <tr>
                <th>Name<th>
                <td>{% for name in context.address_records.names %}{{ name }} {% endfor %}</td>
              </tr>
              <tr>
                <th>MAC Address<th>
                <td>{{ context.address_records.mac_address }}</td>
              </tr>
              <tr>
                <th>Status<th>
                <td>{{ context.address_records.status }}</td>
              </tr>
              <tr>
                <th>Lease State<th>
                <td>{{ context.address_records.lease_state }}</td>
              </tr>
              <tr>
                <th>Username<th>
                <td>{{ context.address_records.username }}</td>
              </tr>
              {% for key, value in context.address_records.items() %}
              <!-- <tr>
                <th>{{ key }}<th>
                <td>{{ value }}</td>
              </tr> -->
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

    </div>
    <div class="col">

      {% if context.network_cidr %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Network Details</h5>
          <h6 class="card-subtitle mb-2 text-muted">campus network</h6>
          <table class="table table-sm">
            <tbody>
              <tr>
                <th>Network<th>
                <td>{{ context.network_cidr }} {% if context.network_comment %}({{ context.network_comment }}){% endif %}</td>
              </tr>
              <tr>
                <th>Network Type<th>
                <td>{{ context.network_type }}</td>
              </tr>
              <tr>
                <th>Vlan<th>
                <td>{% if context.vlan_id %}{{ context.vlan_id }} ({{ context.vlan_name }}){% endif %}</td>
              </tr>
              {% for key, value in context.network.items() %}
              <!-- <tr>
                <th>{{ key }}<th>
                <td>{{ value }}</td>
              </tr> -->
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

    </div>
    <div class="col">

      {% if context.ipwhois.asn %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">ISP Details</h5>
          <h6 class="card-subtitle mb-2 text-muted">internet</h6>
          <table class="table table-sm table-responsive">
            <tbody>
              <tr>
                <th>ISP<th>
                <td>{{ context.iplocation.isp }}</td>
              </tr>
              <tr>
                <th>Country<th>
                <td>{{ context.iplocation.country_name }}</td>
              </tr>
              <tr>
                <th>ASN<th>
                <td>{{ context.ipwhois.asn }}</td>
              </tr>
              <tr>
                <th>ISP<th>
                <td>{{ context.ipwhois.asn_description }}</td>
              </tr>
              <tr>
                <th>Country<th>
                <td>{{ context.ipwhois.asn_country_code }}</td>
              </tr>
              {% for key, value in context.ipwhois.items() %}
              <!-- <tr>
                <th>{{ key }}<th>
                <td>{{ value }}</td>
              </tr> -->
              {% endfor %}
              {% for key, value in context.iplocation.items() %}
              <!-- <tr>
                <th>{{ key }}<th>
                <td>{{ value }}</td>
              </tr> -->
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

    </div>
  </div>
  <div class="row p-1">
    <div class="col">
      <p><button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="more-info">Show More Information</button></p>
      <div class="collapse" id="collapseExample">
          <div class="card card-body">
          <p>environ</p>
          <ul class="list-group">
            {% for key, value in environ.items() %}
            <li class="list-group-item"><strong>{{ key }}</strong> <span> {{ value }}</span></li>
            {% endfor  %}
          </ul>
          <p>headers</p>
          <ul class="list-group">
            {% for key, value in headers.items() %}
            <li class="list-group-item"><strong>{{ key }}</strong> <span> {{ value }}</span></li>
            {% endfor  %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}