{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row p-1">
    <div class="col">
      <p>This site is hosted on the campus network and provided by <a href="https://its.unc.edu/">Information Technology Services</a>
        as a network diagnostic tool.  The IP addresses reported are those visible to campus applications such as addresses provided 
        by the campus VPN service.  Refer to the <a href="https://tdx.unc.edu/TDClient/33/Portal/KB/ArticleDet?ID=263">Determine Client IP Address</a> 
        help article for site questions or comments.
      </p>
      <p>A fundamental concept of modern network communication is the <a href="https://en.wikipedia.org/wiki/IP_address">"Internet Protocol"</a> address.
        It provides a system to uniquely identify endpoints on a network.
        Often it is helpful to know the IP address of your device, so this site provides that information if available.
      </p>
      <p>Multiple Internet websites exist to provide IP address information already, 
        but this site is set up differently.  It runs locally on campus and provides additional benefits.
      </p>
      <ul>
        <li>Devices on campus without Internet connectivity can access this site.</li>
        <li>VPN users will see the address used on campus as part of the default split-tunnel VPN configuration.</li>
        <li>Additional information about campus addresses is provided if available.</li>
      </ul>
      <p>
        Further detailed network information is available through the <a href="https://nit.net.unc.edu">Network Information Tool (NIT)</a>.	
        Access to NIT is restricted to authorized users.
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block head_ext %}
    <link rel="canonical" href="{{ site_url }}/about">
{% endblock %}