{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row p-1">
    <div class="col">
      <p>A fundamental concept of modern network communication is the "Internet Protocol" address.
        They provide a system to uniquely identify endpoints in the exchange of data.
        Often it is helpful to know the IP address of your local endpoint for things like problem investigations.
        This site intends to provide that information with a focus on UNC campus users.
      </p>
      <p>Multiple Internet websites exist to provide IP address information already, 
        but this site is setup differently.  It runs locally on campus and provides additional benefits.
      </p>
      <ul>
        <li>Devices on campus without Internet connectivity can access this site.</li>
        <li>VPN users will see the address used on campus as part of the default split-tunnel VPN configuration.</li>
        <li>Additional information about campus addresses is provided if available.</li>
      </ul>
      <p>Further information is available  form the help site in the 
        <a href="https://uncch.service-now.com/sp?id=kb_article_view&sysparm_article=KB0011001">Determine IP address</a>
        help article.
      </p>
    </div>
  </div>
</div>
{% endblock %}