<!doctype html>
<html lang="en">
 <head>
	<meta charset="utf-8">
	<link rel="dns-prefetch" href="{{ ipv4_url }}"/>
	<link rel="dns-prefetch" href="{{ ipv6_url }}"/>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>What Is My IP? Test Your Campus IP Address Connectivity</title>
    <meta name="description" content="Whether you are on campus, off campus, or using a VPN, this site determines your IP address by testing how your device communicates with the campus network.">
	<meta name="keywords" content="ip address unc campus">
	<meta name="author" content="">
    <meta name="robots" content="index, follow">

	<meta property="og:title" content="What Is My IP? Test Your Campus IP Address Connectivity">
	<meta property="og:site_name" content="WhatIsMyIP?">
	<meta property="og:url" content="{{ site_url }}">
    <meta property="og:description" content="Whether you are on campus, off campus, or using a VPN, this site determines your IP address by testing how your device communicates with the campus network.">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{ site_url }}{{ url_for('static', filename='logo/android-chrome-512x512.png') }}">
	<meta property="og:image:width" content="600">
	<meta property="og:image:height" content="470">
   
	<link rel="icon" href="/static/logo/favicon.ico" sizes="48x48">
	<link rel="icon" type="image/svg+xml" href="/static/logo/favicon.svg">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/logo/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/logo/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/logo/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/logo/favicon-16x16.png">
	<link rel="manifest" href="/static/logo/site.webmanifest">
	<meta name="theme-color" content="#4b9cd3">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-config" content="/static/logo/browserconfig.xml">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <!-- MDB -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}" />

	<!-- Site Specific -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/whatismyip.css') }}">

	<!-- Alert Carolina -->
	<script type="text/javascript" src="https://alertcarolina.unc.edu/scripts/webalert.php"></script>

	<!-- UNC Utility Bar -->
	<script type="text/javascript" id="unc-ub-script" data-color="blue" src="https://unc.edu/web-assets/utility-bar/utility-bar.min.js"></script>

	{% block head_ext %}
	{% endblock %}
 </head>
 <body>
	<body>

		<!-- Main Content -->
		<main role="main">
			<div class="container">
				<div class="row">
					<div class="col">
					  <!-- <div class="py-5 text-center fst-italic unc-page-title"> -->
					  <div class="py-5 fst-italic unc-page-title">
						<h1 class="mb-0">
							<img class="img-fluid" src="{{ url_for('static', filename='logo/android-chrome-192x192.png') }}" alt="Logo">
							<b>What is my IP?</b>
						</h1>
					  </div>
					</div>
				  </div>
			{% block content %}
			{% endblock %}
			</div>
		</main>

		<!-- Footer -->
		<footer class="main-footer">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="border-top my-5"></div>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-lg-4">
						<p class="h5">Explore</p>
						<ul class="list-unstyled">
							<li><a href="/" aria-label="Home">Home (Retest Connection)</a></li>
							<li><a href="/about" aria-label="About">About "What is my IP?"</a></li>
							<li><a href="https://www.speedtest.net/server/14774" aria-label="UNC speedtest server">UNC's Speedtest Server</a></li>
						</ul>
					</div>
					<div class="col-lg-4">
						<p class="h5">More Resources</p>
						<ul class="list-unstyled">
							<li><a href="https://its.unc.edu/" aria-label="ITS">Information Technology Services</a></li>
							<li><a href="https://itsstatus.unc.edu/" aria-label="ITS Status">ITS System Status</a></li>
							<li><a href="https://help.unc.edu" aria-label="Service Desk">ITS Service Desk</a></li>
						</ul>
					</div>
					<div class="col-lg-4">
						<p class="h5">Connect with tech at UNC</p>
						<a href="https://instagram.com/unctarheeltech" aria-label="Instagram"> <i class="fab fa-instagram fa-xl" style="color:#4B9CD3;"></i></a> &nbsp; 
						<a href="https://threads.net/unctarheeltech" aria-label="Threads"> <i class="fa-brands fa-threads fa-xl" style="color:#4B9CD3;"></i></a> &nbsp; 
						<a href="https://x.com/unctarheeltech" aria-label="X, Twitter"> <i class="fa-brands fa-x-twitter fa-xl" style="color:#4B9CD3;"></i></a> &nbsp; 
						<a href="https://youtube.com/@unctarheeltech" aria-label="YouTube"> <i class="fa-brands fa-youtube fa-xl" style="color:#4B9CD3;"></i></a>
						<p>
						</p>
						<p style="font-size: 12pt"><a href="https://its.unc.edu/itsnewstechconnect"><i class="fa fa-envelope fa-lg" style="margin-right: 7px"></i>ITS News Tech Connect newsletter</a></p>
					</div>
				</div>
				<div class="row mb-5">
					<div class="col">
						<p class="text-center"><small>Copyright &copy; <script>document.write(new Date().getFullYear())</script> - Information Technology Services</small></p>
					</div>
				</div>
			</div>
		</footer>

		<!-- MDB -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
		{% block javascript %}
		{% endblock %}
 </body>
</html>