{% extends "base.html" %}
{% block content %}
<div class="row p-1">
  <div class="col">
    <div class="card bg-primary shadow">
      <div class="card-body">

        <div id="address_box" class="row unc-ip">
          <div class="col-md-10 offset-md-1 text-center">
            <h1 id="address" class="display-4 text-center mb-0">{{ context.client_address }}</h1>
          </div>
          <div class="col-md-1 text-end">
            <button onclick="copyAddress(address)" class="btn" aria-label="Copy IP Address">
              <i class="fa fa-copy text-white" data-toggle="tooltip" title="copy to clipboard" aria-hidden="true"> </i>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div id="second_address_section" class="row p-1" style="display:none;">
  <div class="col">
    <div class="card bg-primary shadow">
      <div class="card-body">

        <div id="additional_ip" class="row unc-ip">
          <div class="col-md-10 offset-md-1 text-center">
            <h1 id="address2" class="display-4 text-center mb-0">loading...</h1>
          </div>
          <div class="col-md-1 text-end">
            <button onclick="copyAddress(address2)" class="btn" aria-label="Copy IP Address">
              <i class="fa fa-copy text-white" data-toggle="tooltip" title="copy to clipboard" aria-hidden="true"> </i>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="row p-1 my-3">
  <div class="col">
    <p>This is the IP address used by your computer when accessing campus resources.
    {% if context.network_cidr %}
      {% if context.network_type %}
        {% if 'VPN' in context.network_type %}
        It is part of a campus VPN network.
        {% elif 'Wireless' in context.network_type %}
        It is part of the campus wireless network.
        {% else %}
        It is part of a local campus network.
        {% endif %}
      {% else %}
      It is part of a local campus network.
      {% endif %}
    {% else %}
    It is off-campus and part of the public Internet.
    {% endif %}
    </p>
  </div>
</div>
<div class="row row-cols-1 row-cols-xl-2 g-4 p-1">

  {% if context.address_records %}
  <div class="col">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title">Address Details</h5>
        <div class="table-responsive">
          <table class="table table-sm">
            <tbody>
              {% if context.address_records %}
              <tr>
                <th style="width: 20%;">Name</th>
                <td>
                  <ul class="list-group list-group-flush">
                    {% for name in context.address_records.names %}
                    <li class="list-group-item p-0">{{ name }}</li> 
                    {% endfor %}
                  </ul>
                </td>
              </tr>
              {% if context.address_records.mac_address %}
              <tr>
                <th>MAC Address</th>
                <td>{{ context.address_records.mac_address }}</td>
              </tr>
              {% endif %}
              {% if 'LEASE' in context.address_records.types %}
              <tr>
                <th>DHCP Lease</th>
                <td>{{ context.address_records.lease_state }}</td>
              </tr>
              {% endif %}
              {% if context.address_records.username %}
              <tr>
                <th>Username</th>
                <td>{{ context.address_records.username }}</td>
              </tr>
              {% endif %}
              {% if context.address_records.extattrs['Device Type'] %}
              <tr>
                <th>Device Type</th>
                <td>{{ context.address_records.extattrs['Device Type'].value }}</td>
              </tr>
              {% endif %}
              <tr>
                <th>Status</th>
                <td>{{ context.address_records.status }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="col">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title">Network Details</h5>
        <div class="table-responsive">
        <table class="table table-sm">
          <tbody>
            {% if context.network_cidr %}
              {% if context.vlan_id %}
              <tr>
                <th>Vlan</th>
                <td>{{ context.vlan_id }} ({{ context.vlan_name }})</td>
              </tr>
              {% endif %}
              <tr>
                <th style="width: 20%;">Network</th>
                <td>{{ context.network_cidr }} {% if context.network_comment %}({{ context.network_comment }}){% endif %}</td>
              </tr>
              {% if context.network_type %}
              <tr>
                <th>Usage</th>
                <td>{{ context.network_type }}</td>
              </tr>
              {% endif %}
              {% if context.network.extattrs['Admin Onyen'] %}
              <tr>
                <th>Admin Onyen</th>
                <td>{{ context.network.extattrs['Admin Onyen'].value }}</td>
              </tr>
              {% endif %}
              {% if context.network.extattrs['Cost Center'] %}
              <tr>
                <th>Cost Center</th>
                <td>{{ context.network.extattrs['Cost Center'].value }}</td>
              </tr>
              {% endif %}
            {% endif %}
            {% if context.iplocation.isp %}
            <tr>
              <th>ISP</th>
              <td>{{ context.iplocation.isp }}</td>
            </tr>
            <tr>
              <th>Country</th>
              <td>{{ context.iplocation.country_name }}</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row p-1 mt-2">
  <div class="col">
     <div class="card shadow card-body">
      <h5 class="card-title">Client Details</h5>
      <div class="table-responsive">
        <table class="table table-sm">
          <tbody>
            <tr>
              <th style="width: 20%;">User-Agent</th>
              <td>{{ headers['User-Agent'] }}</td>
            </tr>
            <tr>
              <th>Device</th>
              <td>{{ context.user_device }}</td>
            </tr>
            {% if headers['X-Forwarded-For'] %}
            <tr>
              <th style="width: 20%;">X-Forwarded-For</th>
              <td>{{ headers['X-Forwarded-For'] }}</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/whatismyip.js') }}"></script>
{% endblock %}