{% extends "base.html" %}
{% block content %}
<div class="row p-1 my-3">
  <div class="col">
    <p>Below is information about how your device is connected to the UNC campus network. 
      Whether you are on campus, off campus, using a VPN, or behind a proxy, this site 
      determines your connection by checking how your device communicates with the network. 
      This address is how the campus identifies your device. Additional details about 
      campus network addresses are shown when available.
    </p>
    <div id="intro_text"></div>
  </div>
</div>
<div id="first_address_section" class="row p-1 my-3">
  <div class="col">
    <div class="card bg-primary shadow">
      <div class="card-body">

        <div id="address_box" class="row unc-ip">
          <div class="col-md-10 offset-md-1 text-center">
            <h2 id="address1" class="display-6 text-center mb-0">{{ context.client_address }}</h2>
          </div>
          <div class="col-md-1 text-end">
            <button onclick="copyAddress(address)" class="btn" aria-label="Copy IP Address">
              <i class="fa fa-copy text-white" data-toggle="tooltip" title="copy to clipboard" aria-hidden="true"> </i>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div id="second_address_section" class="row p-1 my-3" style="display:none;">
  <div class="col">
    <div class="card bg-primary shadow">
      <div class="card-body">

        <div id="additional_ip" class="row unc-ip">
          <div class="col-md-10 offset-md-1 text-center">
            <h2 id="address2" class="display-6 text-center mb-0">loading...</h2>
          </div>
          <div class="col-md-1 text-end">
            <button onclick="copyAddress(address2)" class="btn" aria-label="Copy IP Address">
              <i class="fa fa-copy text-white" data-toggle="tooltip" title="copy to clipboard" aria-hidden="true"> </i>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row g-4 p-1">

  <div class="col-xl-3"> <!-- start of column 1 -->

    <div id="connect-test" class="card shadow my-3" data-ipv4_url="{{ context.ipv4_url }}" data-ipv6_url="{{ context.ipv6_url }}">
      <div class="card-body">
        <p class="card-title h5">Campus Connectivity</p>
        <div class="table-responsive">
        <table class="table table-sm">
          <tbody>
              <tr>
                <th style="width: 20%;">Default</th>
                <td id="connect-default"></td>
              </tr>
              <tr>
                <th style="width: 20%;">IPv6</th>
                <td id="connect-ipv6"><i class="fa-solid fa-question text-primary"></i> Testing</td>
              </tr>
              <tr>
                <th style="width: 20%;">IPv4</th>
                <td id="connect-ipv4"><i class="fa-solid fa-question text-primary"></i> Testing</td>
              </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  
  </div> <!-- end of column 1 -->

  <div id="address1-details" class="col-xl">

    <div class="card shadow my-3">
      <div class="card-body">
        <p class="card-title h5">IPv4 Address Details</p>
        <div class="table-responsive">
          <table class="table table-sm">
            <tbody>
              <tr>
                <th style="width: 25%;">Address</th>
                <td id="address1-address"></td>
              </tr>
              <tr id="addr1-names-row" style="display:none;">
                <th>Name</th>
                <td>
                  <ul id="addr1-names" class="list-group list-group-flush">
                  </ul>
                </td>
              </tr>
              <tr id="addr1-mac-row" style="display:none;">
                <th>MAC</th>
                <td id="addr1-mac"></td>
              </tr>
              <tr id="addr1-comment-row" style="display:none;">
                <th>Comment</th>
                <td id="addr1-comment"></td>
              </tr>
              <tr id="addr1-lease-row" style="display:none;">
                <th>DHCP Lease</th>
                <td id="addr1-lease"></td>
              </tr>
              <tr id="addr1-username-row" style="display:none;">
                <th>Username</th>
                <td id="addr1-username"></td>
              </tr>
              <tr id="addr1-types-row" style="display:none;">
                <th>Device Type</th>
                <td id="addr1-types"></td>
              </tr>
              <tr id="addr1-status-row" style="display:none;">
                <th>Status</th>
                <td id="addr1-status"></td>
              </tr>
              <tr id="addr1-ptr-row" style="display:none;">
                <th>DNS Name</th>
                <td id="address1-ptr"></td>
              </tr>
              <tr id="net1-network-row" style="display:none;">
                <th>Network</th>
                <td id="net1-network"></td>
              </tr>
              <tr id="net1-vlan-row" style="display:none;">
                <th>VLAN</th>
                <td id="net1-vlan"></td>
              </tr>
              <tr id="net1-isp-row" style="display:none;">
                <th>ISP</th>
                <td id="net1-isp"></td>
              </tr>
              <tr id="net1-country-row" style="display:none;">
                <th>Country</th>
                <td id="net1-country"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div> <!-- end of column 2 -->

  <div id="address2-details" class="col-xl" style="display:none;">

    <div class="card shadow my-3">
      <div class="card-body">
        <p class="card-title h5">IPv6 Address Details</p>
        <div class="table-responsive">
          <table class="table table-sm">
            <tbody>
              <tr>
                <th style="width: 25%;">Address</th>
                <td id="address2-address"></td>
              </tr>
              <tr id="addr2-names-row" style="display:none;">
                <th>Name</th>
                <td>
                  <ul id="addr2-names" class="list-group list-group-flush">
                  </ul>
                </td>
              </tr>
              <tr id="addr2-mac-row" style="display:none;">
                <th>MAC</th>
                <td id="addr2-mac"></td>
              </tr>
              <tr id="addr2-comment-row" style="display:none;">
                <th>Comment</th>
                <td id="addr2-comment"></td>
              </tr>
              <tr id="addr2-lease-row" style="display:none;">
                <th>DHCP Lease</th>
                <td id="addr2-lease"></td>
              </tr>
              <tr id="addr2-username-row" style="display:none;">
                <th>Username</th>
                <td id="addr2-username"></td>
              </tr>
              <tr id="addr2-types-row" style="display:none;">
                <th>Device Type</th>
                <td id="addr2-types"></td>
              </tr>
              <tr id="addr2-status-row" style="display:none;">
                <th>Status</th>
                <td id="addr2-status"></td>
              </tr>
              <tr id="addr2-ptr-row" style="display:none;">
                <th>DNS Name</th>
                <td id="address2-ptr"></td>
              </tr>
              <tr id="net2-network-row" style="display:none;">
                <th>Network</th>
                <td id="net2-network"></td>
              </tr>
              <tr id="net2-vlan-row" style="display:none;">
                <th>VLAN</th>
                <td id="net2-vlan"></td>
              </tr>
              <tr id="net2-isp-row" style="display:none;">
                <th>ISP</th>
                <td id="net2-isp"></td>
              </tr>
              <tr id="net2-country-row" style="display:none;">
                <th>Country</th>
                <td id="net2-country"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div> <!-- end of column 3 -->

</div> <!-- end of row -->

<div class="row p-1 mt-2">
  <div class="col">
    <p>Run a speed test using the closest Speedtest server, which is selected by default, 
      or manually choose “UNC Chapel Hill” to test your connection to the UNC campus.
    </p>
  </div>
</div>

<div class="row p-1 mt-2">
  <div class="col">
     <div class="card shadow card-body">
      <iframe width="100%" height="650px" frameborder="0" src="https://uncch.speedtestcustom.com"></iframe>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/whatismyip.js') }}"></script>
{% endblock %}